.rankingGrid th, .rankingGrid td {
    text-align: center;
    padding: 10px;
}

.rankingGrid th {
    
    background: #101010;
}

.rankingGrid a{
    color: white;
}

.rankingGrid a:hover {
    color: grey;
}

.export {
    margin-bottom: 10px;
}
